<div class="sidebar">
    <h2>Filters</h2>
    <div id="product-counter"></div>
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Search products..." autocomplete="off">
    </div>
    <div class="sidebar-filters"> {%- for name, f in filters.items() -%}
        {%- set filter_id = name|lower|replace(' ', '-') -%}
        <div class="filter">
            <label>{{ name }}</label>
            {%- if f.type == 'multi-select' -%}
            {%- for opt in f.options -%}
            <input type="checkbox" class="filter-checkbox" data-filter="{{ name }}" data-filter-type="{{ f.type }}"
                value="{{ opt }}"> {{ opt }}<br>
            {%- endfor -%}
            {%- elif f.type == 'date-range' -%}
            <input type="number" class="filter-range-min" id="{{ filter_id }}-min" data-filter="{{ name }}"
                data-filter-type="{{ f.type }}" placeholder="Min" step="1" min="{{ f.min_max[0] }}"
                max="{{ f.min_max[1] }}" value="{{ f.default[0] }}">
            <input type="number" class="filter-range-max" id="{{ filter_id }}-max" data-filter="{{ name }}"
                data-filter-type="{{ f.type }}" placeholder="Max" step="1" min="{{ f.min_max[0] }}"
                max="{{ f.min_max[1] }}" value="{{ f.default[1] }}">
            {%- endif -%}
        </div>
        {%- endfor -%}
    </div>
    <footer class="footer">
        <a class='submit' href="{{ cfg.SUBMISSION_FORM }}" target="_blank">Submit a new dataset</a>
        <!-- add spacer so website copy is on bottom -->
        
        <div class="github-icon">
            <a href="{{ cfg.GITHUB_REPO }}" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <div class="web-spacer"></div>
        <div class="contact-email">
            for help, <a href="mailto:{{ cfg.CONTACT_EMAIL }}">{{ cfg.CONTACT_EMAIL }}</a>
        </div>
        <div class="web-copyright">&copy; Website by <a href='https://github.com/lukegre/' target='_blank'>Luke Gregor</a> (2025)</div>
    </footer>    
</div>