<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ocean CO2 Products</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/410770d700.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="banner">
        <h1>Ocean CO<sub>2</sub> Products</h1>
        <p>Publication by Jiang et al. (2025)</p>
    </header>
    <div class="container">
        {% include 'sidebar.html' %}
        <div class="content">
            <div class="products">
                {%- for p in products -%}
                {% include 'data-card.html' %}
                {%- endfor -%}
            </div>
        </div>
    </div>
    <script src="scripts.js"></script>
</body>
</html>
